<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotus.mapper.UserTeamMapper">

    <resultMap id="BaseResultMap" type="com.lotus.pojo.UserTeam">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tagName" column="tagName" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="teamId" column="teamId" jdbcType="INTEGER"/>
            <result property="isCaptain" column="isCaptain" jdbcType="TINYINT"/>
            <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tagName,userId,
        teamId,isCaptain,joinTime,
        createTime,updateTime,isDelete
    </sql>
</mapper>
